<tr>
	<td style="text-align: center;"></td>
	<td style="text-align: center;">
		<strong style="font-size: 18px;">Fifth Year</strong>
	</td>
	<td style="text-align: center;"></td>
</tr>
<tr>
	<td style="text-align: center;"></td>
	<td style="text-align: center;">
		<strong>Summer Semester</strong>
		<table class="table table-stiped" style='font-size: 11px;'>
			<thead>
				<tr>
					<th style="text-align: center;">Status</th>
					<th style="text-align: center;">Elective Code</th>
					<th style="text-align: center;">Units</th>
				</tr>
			</thead>
			<tbody>
				<!--LOGIC TO SHOW STUDENT'S SUMMER ELECTIVES-->
			</tbody>
		</table>
	</td>
	<td style="text-align: center;"></td>
</tr>
<tr>
	<td style="text-align: center;">
		<strong>First Semester</strong>
		<table class="table table-stiped" style='font-size: 11px;'>
			<thead>
				<tr>
					<th style="text-align: center;">Status</th>
					<th style="text-align: center;">Elective Code</th>
					<th style="text-align: center;">Units</th>
				</tr>
			</thead>
			<tbody>
				<!--LOGIC TO SHOW STUDENT'S 1ST SEM ELECTIVES-->
			</tbody>
		</table>
	</td>
	<td style="text-align: center;"></td>
	<td style="text-align: center;">
		<strong>Second Semester</strong>
		<table class="table table-stiped" style='font-size: 11px;'>
			<thead>
				<tr>
					<th style="text-align: center;">Status</th>
					<th style="text-align: center;">Elective Code</th>
					<th style="text-align: center;">Units</th>
				</tr>
			</thead>
			<tbody>
				<!--LOGIC TO SHOW STUDENT'S 2NS SEM ELECTIVES-->
			</tbody>
		</table>
	</td>
</tr>