<h1>Listing Students</h1>

<%= link_to "New Student", new_student_path %>
<p>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to "Show", student %></td>
        <td><%= link_to "Edit", edit_student_path(student) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>