<center>
<br><br>
<div class="jumbotron">
  		<h1>Hello,</h1>
  		<p>Jal de Vera.</p>
  		<p><a class="btn btn-primary btn-lg" href="/students" role="button">Logout</a></p>
</div>

  <!-- <div class="row" style="height: 40px">
    <a class="btn btn-default" href="/students" role="button" style='width: 150px;'>Logout</a> -->
</center>